<a class="link" href="/">Home</a>

<h3>Build a story with other users! You can either start a new story with a title and the first entry, or add on to someone else's existing story with the next entry. Each entry is limited to 140 characters so you'll need to be concise as well as creative! </h3>